<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freanja.holigo">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoTitle">
        <activity
            android:name=".Activities.ModifyPasswordActivity"
            android:exported="false"
            android:theme="@style/dialog_style" />
        <activity
            android:name=".Activities.ModifyEmailActivity"
            android:exported="false"
            android:theme="@style/dialog_style" />
        <activity
            android:name=".Activities.ModifyUsernameActivity"
            android:exported="false"
            android:theme="@style/dialog_style" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".Activities.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SearchActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.holigo.intent.search.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.CusDialogActivity"
            android:exported="false"
            android:theme="@style/dialog_style">
            <intent-filter>
                <action android:name="com.holigo.intent.dialog.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.BookingActivity4"
            android:exported="false" />
        <activity
            android:name=".Activities.BookingActivity3"
            android:exported="false" />
        <activity
            android:name=".Activities.BookingActivity2"
            android:exported="false">
            <intent-filter>
                <action android:name="com.holigo.intent.bookingMember.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.BookingActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.holigo.intent.bookingDate.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SpotActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.holigo.intent.details.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.HomeActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.holigo.intent.main.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SignUpActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.holigo.intent.signup.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SignInActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.holigo.intent.signin.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>